html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
   }

.bg-grey {
    background-color: rgb(78, 78, 78) !important;
}

.mt-50 {
    margin-top: 3.1875rem !important;
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(110, 110, 110);
    color: white;
    min-width: 260px;
}

.btn-grey {
    background: rgb(110, 110, 110);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(128, 128, 128);
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}