{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container mt-190">
    <div class="row">
        <div class="col">
            <img src="https://the-cat-shack.s3.eu-west-2.amazonaws.com/media/emptycartcat.jpg" class="img-fluid" alt="upset cat image"><br>
            <h1 class="mt-200"> 500: It looks like an error has occured!</h1> <br>
            <a class="btn btn-grey btn-lg  mt-3 mb-8 pb-8" href="{% url 'home' %}">
                <span class="icon">
                    <i class=" fas fa-chevron-left"></i>
                </span>
                <span>Home</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
{% endblock %}